<h1>Booze Hounds by the Numbers</h1>
<p><%= link_to "Active Users:", users_path %> <%= @users.length %></p>
<p>Total Reviews: <%= @reviews.length %></p>
<p><%= link_to "Total Liquor Stores:", liquor_stores_path %> <%= @liquor_stores.length %></p>
<br><br><br>
