<h1>Editing <%= @user.name %></h1>

<%= form_for @user  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :new_password %>
  <%= f.password_field :password %>

  <%= f.label :confirm_new_password %>
  <%= f.password_field :password_confirmation%>

  <%= f.submit %>
<% end %>

<%= button_to "Delete Your Profile", @user, method: :delete %>
