<% if current_user == @user %>
<div class="edit_user">Editing <%= @user.name %></div>
    <%= form_for @user  do |f| %>
    <div class="edit_name_password">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br />
      <%= f.label :new_password %>
      <%= f.password_field :password %>

      <%= f.label :confirm_new_password %>
      <%= f.password_field :password_confirmation%>

      <%= f.submit %>
    <% end %>
</div>
<div class="edit_name_password"><%= button_to "Delete Your Profile", @user, method: :delete %>
<% end %>
</div>
