<h2>Hello, <%= @user.name %>!</h2>

<% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
  </div>


<p><%= link_to "Find a liquor store by location", liquor_stores_path %></p>

<p><%= link_to "Find your Booze Buddies!", users_path %></p>
<%= button_to "Edit Profile", edit_user_path, method: :get, class: "btn-btn-warning" %>
<h3>Your Reviews</h3>
<ul>
  <% @user.reviews.each do |r| %>
    <li><%= r.content %> | <%= r.rating %></li>
      Liquor Store info: <%= link_to r.liquor_store.name, r.liquor_store %><br>
      <img src="<%= r.liquor_store.image %>" alt="">
  <% end %>
</ul>
