<h1><%= @user.name %></h1>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
  </div>
</div>


<h3>Reviews</h3>
<ul>
  <% @user.reviews.each do |r| %>
    <li><%= r.content %> | <%= r.rating %></li>
      Liquor Store info: <%= link_to r.liquor_store.name, r.liquor_store %>
  <% end %>
</ul>
