<h2>Let's party, <%= @user.name %>!</h2>

<% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
   <%= render 'follow_form' if logged_in? %>
 </div>
</div>

 <br><br>

Find liquor stores!
<%= link_to "by name", liquor_stores_path %>
<%= link_to "by zip code", neighborhoods_path %>

<p><%= link_to "Find more Booze Buddies!", users_path %></p>

<% if current_user == @user %>
  <%= button_to "Edit Profile", edit_user_path, method: :get, class: "btn-btn-warning" %>
<% end %>

<h3>Booze Reviews</h3>
<ul>
  <% @user.reviews.each do |r| %>
    <li><%= link_to r.liquor_store.name, r.liquor_store %><br>
      <%= r.content %>  |  Rating: <%= r.rating %> stars</li>

        <% if current_user == r.user %>
          <%= link_to "Edit Review", reviews_edit_path(liquor_store: r.liquor_store, review: r, user: current_user) %><br>
        <% end %>
      <img src="<%= r.liquor_store.image %>" class="img-fluid">
  <% end %>
</ul>
