
<div class="edit_review_header">Edit Review</div>
<div class="update_delete">
<%= render "errors/error_messages"%>
<%= form_for @review  do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content%>

  <%= f.label :rating %>
  <%= f.number_field :rating%>
  <%= f.hidden_field :liquor_store_id,value: @liquor_store.id %>
  <%= f.submit %>
<% end %>

<%= button_to "Delete", @review, method: :delete %>
</div>
