<!DOCTYPE html>
<html>
  <head>
    <title>BoozeHounds</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <%= yield %>
  </div>

  <% if logged_in? %>
    <p><%= link_to current_user.name, current_user %></p>
    <p><%= link_to "Find more Booze Buddies!", users_path %></p>
    Find liquor stores!
    <%= link_to "by name", liquor_stores_path %>
    <%= link_to "by zip code", neighborhoods_path %>
    <%= button_to "Logout", sessions_path, method: :delete, class: "btn-btn-warning" %>
  <% end %>

  </body>
</html>
