
<!DOCTYPE html>
<html lang="en">
<head>
  <div class= "front-image_1">
  </div>
  <title>Booze Hounds</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel=”stylesheet” href=”index.css”>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Voltaire" rel="stylesheet">  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/application.css">
</head>
<body style="height:150%">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Booze Hounds</a>
    </div>
  </div>
</nav>

</body>
</html>
<div class="jumbotron">
<body>
  <div class="container">

  <%= yield %>
</div>
</div>
</div>

<% if logged_in? %>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Booze Hounds</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Booze Buddies", users_path %></li>
      <li><%= link_to "Stores by name", liquor_stores_path %></li>
      <li><%= link_to "Stores by location", neighborhoods_path %></li>
      <li><%= button_to "Logout", sessions_path, class: "btn" , method: :delete%></li>
    </ul>
  </div>
</nav>
<% end %>

<div class= "front-image">
</div>
</body>
</html>
