<!DOCTYPE html>
<html>
  <head>
    <title>BoozeHounds</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <%= yield %>
  </div>

  <% if logged_in? %>
  <%= button_to "Logout", sessions_path, method: :delete, class: "btn-btn-warning" %>
  <% end %>
  </body>
</html>
