<div class="liquor_store_name"><%= @liquor_store.name %> - <%= @liquor_store.neighborhood.hood %></div>

<div class="liquor_store_info">
<p><%= @liquor_store.price %></p>
<p><%= @liquor_store.address1 %> <%= @liquor_store.address2 %></p>
<p><%= @liquor_store.city %>, <%= @liquor_store.state %> <%= @liquor_store.zip_code %></p>
<p><%= @liquor_store.display_phone %></p>
<a target="_blank" href="<%= @liquor_store.get_map %>">View in Google Maps</a>
</div>
<div class="see_more"><%= link_to "See more Liquor Stores nearby", @liquor_store.neighborhood %></div>
<div class="liquor_store_review_header">Reviews
<% if @liquor_store.average_rating > 0 %>
  <p>Average rating: <%= @liquor_store.average_rating %></p>
<% else %>
  <p>Be the first to rate this liquor store!</p>
<% end %>
</div>

<div class="new_review_on_page">
<ul>
  <% @liquor_store.reviews.each do |r| %>
    <li style="list-style-type: none;"><%= r.content %> | Rating: <%= r.rating %> stars</li>
      Review by <%= link_to r.user.name, r.user %>
  <% end %>
</div>
</ul>
<div class="write_a_review"><%= link_to "Write a Review", reviews_new_path(liquor_store: @liquor_store), method: :post  %></div>

<br>
<img src="<%= @liquor_store.image %>" alt="">
