<h1><%= @liquor_store.name %></h1>


<%= @liquor_store.price %>
<p><%= @liquor_store.address1 %> <%= @liquor_store.address2 %></p>
<p><%= @liquor_store.city %>, <%= @liquor_store.state %> <%= @liquor_store.zip_code %></p>
<p><%= @liquor_store.display_phone %></p>
<a target="_blank" href="<%= @liquor_store.get_map %>">View in Google Maps</a>


<br><br>
<h3>Reviews</h3>
<% if @liquor_store.average_rating > 0 %>
  <p>Average rating: <%= @liquor_store.average_rating %></p>
<% else %>
  <p>Be the first to rate this liquor store!</p>
<% end %>

<ul>
  <% @liquor_store.reviews.each do |r| %>
    <li><%= r.content %> | Rating: <%= r.rating %> stars</li>
      Review by <%= link_to r.user.name, r.user %>
  <% end %>
</ul>
<h4><%= link_to "Write a Review", reviews_new_path(liquor_store: @liquor_store), method: :post  %></h4>

<br>
<img src="<%= @liquor_store.image %>" alt="">


<br><br>
<%= link_to "See more Liquor Stores nearby", @liquor_store.neighborhood %>
